<div class="container">
  <div class="justify-content-end me-0">
    <a  class="btn btn-primary btn-md py-1" (click)="openModal(brandCreateModal)" ><i class="mdi mdi-plus align-middle fs-4"></i> Yeni Hesap Ekle</a>                               
    </div>

    <div class="col-lg-12">
        
            <input
            type="text"
            style="padding:8px;margin:15px auto;width:30%;"
            placeholder="Type to filter the name column..."
            (keyup)="updateFilter($event)"
            />
            <ngx-datatable
            class="bootstrap"
            [rows]="dataList"
            [columns]="[{ name: 'Name' }, { name: 'link' }, { name: 'content' }]"
            [columnMode]="ColumnMode.force"
            [headerHeight]="50"
            [footerHeight]="50"
            rowHeight="auto"
            [limit]="10"
            >
            </ngx-datatable>
    </div>
  

</div>
<ng-template   #brandCreateModal  class="modal fade"  tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content border-0 overflow-hidden">
            <div class="modal-body p-0 ribbon-box">
                 <div class="row g-5" >
                    <div class="col-xxl-12">
                        <div class="p-4 h-100  " >
                            <button type="button" class="btn-close float-end" (click)="modalRef?.hide()"></button>
                            <h4 class="text-center g-5">Renk İşlemleri</h4>
                            <div class="container">
                                <div class="row">
                                    <div class="col-xxl">
                                        
                                                <form [formGroup]="socialForm"  class="needs-validation" novalidate>
                                                    <div class="row form-group">
                                                          <div class="col-xxl-12">
                                                          
                                                                  <label for="name" class="form-label">Renk Adı <span class="text-danger">*</span></label>
                                                                  <div class="input-group  has-validation">
                                                                  <input type="text" formControlName="name" class="form-control " id="name" placeholder="Renk Adı" required 
                                                                  [ngClass]="{'is-invalid': submit && socialForm.controls['name'].errors}"
                                                                 >
                                                                      <div class="invalid-feedback">
                                                                          Rengin Adı boş bırakılamaz.
                                                                      </div>
                                                                  </div>
                                                                  <label for="name" class="form-label">Renk Adı <span class="text-danger">*</span></label>
                                                                  <div class="input-group  has-validation">
                                                                  <input type="text" formControlName="link" class="form-control " id="name" placeholder="Link" required 
                                                                  [ngClass]="{'is-invalid': submit && socialForm.controls['link'].errors}"
                                                                 >
                                                                      <div class="invalid-feedback">
                                                                          Link boş bırakılamaz.
                                                                      </div>
                                                                  </div>
                                                                  <label for="name" class="form-label">Renk Adı <span class="text-danger">*</span></label>
                                                                  <div class="input-group  has-validation">
                                                                  <input type="text" formControlName="content" class="form-control " id="name" placeholder="Açıklama" required 
                                                                  [ngClass]="{'is-invalid': submit && socialForm.controls['content'].errors}"
                                                                 >
                                                                      <div class="invalid-feedback">
                                                                          Açıklama boş bırakılamaz.
                                                                      </div>
                                                                  </div>
                                                          </div>
                            
                                                   
                                                        <!--end col-->
                                                        <div class="col-lg-12 mt-3">
                                                            <div class="hstack gap-2 justify-content-end">
                                                                <button type="button" class="btn btn-light" (click)="modalRef?.hide()">Vazgeç</button>
                                                                <button type="submit" (click)="addModel()"  class="btn btn-subtle-primary">Oluştur</button>
                                                            </div>
                                                          
                                                        </div>
                                                        <!--end col-->
                                                    
                                                    <!--end row-->
                                        
                                            
                                                
                                            </div>
                                                </form>
                            
                                        </div>
                                    </div> <!-- end col -->
                            
                                </div>
                            </div>
                            
                            <!--end row-->
                        </div>
                    </div>
            </div>
        </div>
    </div>
</ng-template>
 